<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Employee</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="search-h1">Search Employee</h1>
     <form id="employee-search">
        <label for="search-name">Enter Name:</label>
        <input type="text" id="search-name" name="search-name" required></input>
        <button type="submit">Search</button>
     </form>

     <div id="search-results"></div>
     

     <button id="go-back-submit" onclick="location.href='/'">Got to Submit Form</button>

     <div id="update-form-container">
        <form id="update-employee-form" style="display: none;">
            <label for="update-first-name">First Name:</label>
            <input type="text" id="update-first-name" name="first_name"><br>
            <label for="update-last-name">Last Name:</label>
            <input type="text" id="update-last-name" name="last_name"><br>
            <label for="update-email">Email:</label>
            <input type="text" id="update-email" name="email" readonly><br>
            <label for="update-department">Department:</label>
            <input type="text" id="update-department" name="department"><br>
            <label for="update-salary">Salary:</label>
            <input type="text" id="update-salary" name="salary"><br>
            <button type="submit">Update</button>
        </form>
    </div>
    <script type="module" src="../static/update.js"></script>
    <script type="module" src="../static/delete.js"></script>
    <script type="module" src="../static/search.js"></script>
</body>
</html>