<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Employee</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="search-h1">Search Employee</h1>
     <form id="employee-search">
        <label for="search-name">Enter Name:</label>
        <input type="text" id="search-name" name="search-name" required></input>
        <button type="submit">Search</button>
     </form>

     <div id="search-results"></div>
     

     <button id="go-back-submit" onclick="location.href='/'">Got to Submit Form</button>

    <script type="module" src="../static/delete.js"></script>
    <script type="module" src="../static/search.js"></script>
</body>
</html>